*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
   --color1-subs2 :  #aab69b ;
    --color-subs : #9e906e ;
    --color-title : #9684a3 ;
    --color-borders : #8870ff ;
    --color-body : #000000 ;
    --letter : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



body{
    margin: 0;
    padding: 0;
    font-family: var(--letter);

}
.partview{
    display: flex;
    width: 100%;

}

.partview header{
    width: 25%;    
    background-color: var(--color-title);

}

.partview main{
    width: 80%;
    background-color: var(--color-borders);
}

.viewme{
    display: flex;
    flex-direction: column;
   /*  flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
   
   
}

.aboutme{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.aboutme img{
    width: 300px;
    height: 300px;
    border-radius: 50% 50%;
    object-fit: cover;
    border: 5px solid #000000 ;
    box-shadow: 10px 10px 100px 10px rgba(250, 3, 3, 0.2)
}


.info{
    background-color: var(--color1-subs2);
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.info span{
    font-family: var(--letter);
    width: 400px;
}
.info a img{
    width: 50px;
    transition: transform 1s, box-shadow 1s;

}
.info a img :hover{
    box-shadow: 40px 40px #ccc;
    transform: scale(1.3);
}

main {
    margin: 0;
    padding: 0;


}
.content{
   
    background-color: rgb(48, 197, 197);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 3rem;
    padding: 2rem;
    margin: 2rem;
}

.cards:hover{
    transform: scale(1);
}


.card{
     background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
margin: 1rem 0 0.5rem;
}

.card p {
font-size: 0.95rem;
color: #ccc;
}


